*
!.config
!.config/**
.config/Android
.config/Google
.config/JetBrains
.config/copyq
!.local/bin/**
!.local/share/chars/**
!.zshrc
!.bashrc
!.profile
!.bash_profile
!.XCompose
!.Xresources
!.ideavimrc
!.gtkrc-2.0

