/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    // font: "Ubuntu Mono Nerd Font 14";
    // font-smaller: "Ubuntu Mono Nerd Font 12";
    font: "SF Pro Text Bold 12";
    font-smaller: "SF Pro Text 10";
}
