/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    /* font: "Ubuntu Mono Nerd Font 14"; */
    /* font-smaller: "Ubuntu Nerd Font 12"; */
    font: "Ubuntu Nerd Font 12";
    font-smaller: "SF Pro Display 10";
}
